Nous allons faire créer pour chaque section: 
    Une fonction random quo permet de créer un dataset un minimum crédible pour chaque étudiant
    Un arbre de décision, entre autre, permettant de créer, et entrainer un algorythme de création
    Un algorythme qui aura pour objectif de permettre d'implémenter une nouvelle ligne, et lui donner un potentiel sens
    Partir une étape plus loin, en implémentant selon le rapport du mbti une précision supplémentaire.

In [55]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.tree import DecisionTreeClassifier  
from sklearn.ensemble import BaggingClassifier
from sklearn.decomposition import PCA
"""
`import sklearn` does not automatically import every submodules, you may have to import them explicitely like above.
"""
import csv
import random
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from jyquickhelper import add_notebook_menu
print("Table of Contents")
add_notebook_menu()

Table of Contents

In [56]:
es_data = pd.read_csv('backup.csv', sep=';', error_bad_lines=False)
es_data

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
146,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
147,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
148,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
149,ES,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [57]:
for i in range(0, 75):
    es_data["Annee"][i] = "1e"
for i in range(76, 150):
    es_data["Annee"][i] = "term"
es_data

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,1e,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,ES,1e,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,ES,1e,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,ES,1e,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,ES,1e,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,term,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
146,ES,term,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
147,ES,term,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
148,ES,term,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
149,ES,term,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [58]:
colno = ["Francais","Philosophie","Histoire-geographie","Langues vivantes 1","Langues vivantes 2","Education physique et sportive","Enseignement moral et civique","Mathematiques","TPE","Science","Sciences economiques et sociales","Spe Mathematiques","Sciences sociales et politiques","Economie approfondie","Option Informatique","Option Sport","Option Arts","Option latin","Option grec","LV3"]
es_data[colno]= es_data[colno].astype(int)
es_data["Francais"] = 3
nospe = ["Francais","Philosophie","Histoire-geographie","Langues vivantes 1","Langues vivantes 2","Education physique et sportive","Enseignement moral et civique","Mathematiques","TPE","Science"]
allcol = ["Filiere","Annee","Francais","Philosophie","Histoire-geographie","Langues vivantes 1","Langues vivantes 2","Education physique et sportive","Enseignement moral et civique","Mathematiques","TPE","Science","Sciences economiques et sociales","Spe Mathematiques","Sciences sociales et politiques","Economie approfondie","Option Informatique","Option Sport","Option Arts","Option latin","Option grec","LV3"]
spe = ["Sciences economiques et sociales","Spe Mathematiques","Sciences sociales et politiques","Economie approfondie","Option Informatique","Option Sport","Option Arts","Option latin","Option grec","LV3"]
mbti = ["Extraversion","Introversion","Sensing","Intuition","Thinking" ,"Feeling","Judging","Perceiving"]
es_data

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,1e,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,ES,1e,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,ES,1e,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,ES,1e,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,ES,1e,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,term,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
146,ES,term,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
147,ES,term,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
148,ES,term,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
149,ES,term,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [59]:
#Code en Python
for i in range(0, 150): #Parcours de données sur les 150 lignes
    for el in es_data[nospe]: #On va passer sur chaque colonne de la base de données (nospe contient certaines colonnes uniquement)
        es_data[el][i] = random.randint(0, 20)#On va parcourir de façon BDD[colonne][numero de ligne] pour assigner une donnée random entre 0 et 20


es_data[nospe] #Affichage (Non obligatoire)

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,TPE,Science
0,14,16,11,0,11,19,0,12,15,12
1,11,19,7,1,11,0,14,15,18,4
2,1,7,19,11,20,12,19,2,20,4
3,2,1,10,18,18,16,3,16,16,4
4,1,18,17,14,0,4,20,14,7,5
...,...,...,...,...,...,...,...,...,...,...
145,4,8,5,20,16,14,9,2,9,4
146,5,0,13,12,3,1,12,18,20,4
147,5,4,16,15,2,2,8,8,11,13
148,3,5,5,12,18,20,16,16,19,0
149,7,10,10,15,16,10,12,14,14,11

In [60]:
for i in range(0, 150):
    for el in es_data[nospe]:
            if(es_data[el][i]<8):
                es_data[el][i] += random.randint(0, 7)
            if(es_data[el][i]>16):
                es_data[el][i] -= random.randint(0, 3)
es_data

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,1e,14,16,11,3,11,16,1,12,...,0,0,0,0,0,0,0,0,0,NaN
1,ES,1e,11,16,14,3,11,3,14,15,...,0,0,0,0,0,0,0,0,0,NaN
2,ES,1e,3,10,17,11,20,12,16,7,...,0,0,0,0,0,0,0,0,0,NaN
3,ES,1e,7,1,10,17,16,16,5,16,...,0,0,0,0,0,0,0,0,0,NaN
4,ES,1e,1,18,14,14,4,4,19,14,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,term,11,8,10,19,16,14,9,9,...,0,0,0,0,0,0,0,0,0,NaN
146,ES,term,11,5,13,12,8,3,12,15,...,0,0,0,0,0,0,0,0,0,NaN
147,ES,term,12,5,16,15,9,7,8,8,...,0,0,0,0,0,0,0,0,0,NaN
148,ES,term,10,6,7,12,15,19,16,16,...,0,0,0,0,0,0,0,0,0,NaN
149,ES,term,7,10,10,15,16,10,12,14,...,0,0,0,0,0,0,0,0,0,NaN

In [61]:
es_data.to_excel("output.xlsx")

In [62]:
spec = es_data[spe]

In [63]:
for i in range(0, 75):
    a = random.randint(0, 20)
    b = random.randint(0, 20)
    c = random.randint(0, 20)
    x = random.randint(0, 9)
    y = random.randint(0, 9)
    z = random.randint(0, 9)
    if(a<8):
        a += random.randint(0, 7)
    if(a>16):
        a -= random.randint(0, 3)
    if(b<8):
        b += random.randint(0, 7)
    if(b>16):
        b -= random.randint(0, 3)
    if(c<8):
        c += random.randint(0, 7)
    if(c>16):
        c -= random.randint(0, 3)   
        
    if(x == y):
        x = random.randint(0, 9) != [y,z]
    if(x == z):
        x = random.randint(0, 9) != [y,z]
    if(y == z):
        y = random.randint(0, 9) != [x,z]
    spec[spe[x]][i] = a
    spec[spe[y]][i] = b
    spec[spe[z]][i] = c
#spe[9]
spec.head()

,Sciences economiques et sociales,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3
0,0,5,0,0,4,0,0,0,0,4
1,0,11,0,0,0,5,0,0,9,0
2,8,0,12,0,17,0,0,0,0,0
3,0,16,0,0,0,0,0,0,14,7
4,8,15,0,0,0,0,0,0,0,10

In [64]:
for i in range(76, 150):
    a = random.randint(0, 20)
    b = random.randint(0, 20)
    
    x = random.randint(0, 9)
    y = random.randint(0, 9)
    if(a<8):
        a += random.randint(0, 7)
    if(a>16):
        a -= random.randint(0, 3)
    if(b<8):
        b += random.randint(0, 7)
    if(b>16):
        b -= random.randint(0, 3)
    
    if(x == y):
        x = random.randint(0, 9) != y  
    spec[spe[x]][i] = a
    spec[spe[y]][i] = b

#spe[9]
spec

,Sciences economiques et sociales,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3
0,0,5,0,0,4,0,0,0,0,4
1,0,11,0,0,0,5,0,0,9,0
2,8,0,12,0,17,0,0,0,0,0
3,0,16,0,0,0,0,0,0,14,7
4,8,15,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...
145,9,2,0,0,0,0,0,0,0,0
146,16,0,0,0,0,10,0,0,0,0
147,8,0,0,0,0,0,0,0,0,3
148,0,0,0,0,5,0,0,0,1,0
149,0,0,0,0,0,13,0,18,0,0

In [65]:
es_data[spe] = spec
es_data

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,1e,14,16,11,3,11,16,1,12,...,5,0,0,4,0,0,0,0,4,NaN
1,ES,1e,11,16,14,3,11,3,14,15,...,11,0,0,0,5,0,0,9,0,NaN
2,ES,1e,3,10,17,11,20,12,16,7,...,0,12,0,17,0,0,0,0,0,NaN
3,ES,1e,7,1,10,17,16,16,5,16,...,16,0,0,0,0,0,0,14,7,NaN
4,ES,1e,1,18,14,14,4,4,19,14,...,15,0,0,0,0,0,0,0,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,term,11,8,10,19,16,14,9,9,...,2,0,0,0,0,0,0,0,0,NaN
146,ES,term,11,5,13,12,8,3,12,15,...,0,0,0,0,10,0,0,0,0,NaN
147,ES,term,12,5,16,15,9,7,8,8,...,0,0,0,0,0,0,0,0,3,NaN
148,ES,term,10,6,7,12,15,19,16,16,...,0,0,0,5,0,0,0,1,0,NaN
149,ES,term,7,10,10,15,16,10,12,14,...,0,0,0,0,13,0,18,0,0,NaN

In [66]:
es_data.to_excel("output_test.xlsx")

In [67]:
#Changer par profil
#for i in range(0, 150):
#    for el in es_data[mbti]:
#        es_data[el][i] = random.randint(10, 40)


#es_data[mbti]

In [68]:
#es_data.to_excel("output_es.xlsx")

In [69]:
mbres=["ISTJ","ISFJ","INFJ","INTJ","ISTP","ISFP","INFP","INTP","ESTP","ESFP","ENFP","ENTP","ENTJ","ESFJ","ENFJ","ENTJ"]

In [70]:

for i in range(0, 150):
    r = random.randint(0, 15)
    es_data["Profil_mbti"][i] = mbres[r]
es_data

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,Mathematiques,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,ES,1e,14,16,11,3,11,16,1,12,...,5,0,0,4,0,0,0,0,4,ENTJ
1,ES,1e,11,16,14,3,11,3,14,15,...,11,0,0,0,5,0,0,9,0,ISTJ
2,ES,1e,3,10,17,11,20,12,16,7,...,0,12,0,17,0,0,0,0,0,ENFJ
3,ES,1e,7,1,10,17,16,16,5,16,...,16,0,0,0,0,0,0,14,7,ESTP
4,ES,1e,1,18,14,14,4,4,19,14,...,15,0,0,0,0,0,0,0,10,ISTJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ES,term,11,8,10,19,16,14,9,9,...,2,0,0,0,0,0,0,0,0,INFJ
146,ES,term,11,5,13,12,8,3,12,15,...,0,0,0,0,10,0,0,0,0,ISTP
147,ES,term,12,5,16,15,9,7,8,8,...,0,0,0,0,0,0,0,0,3,ISTP
148,ES,term,10,6,7,12,15,19,16,16,...,0,0,0,5,0,0,0,1,0,ISFP
149,ES,term,7,10,10,15,16,10,12,14,...,0,0,0,0,13,0,18,0,0,INFJ

In [71]:
es_data.to_excel("output_test.xlsx")