In [127]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
import numpy as np
import matplotlib.pyplot as plt
import math

In [128]:
api_scolarite = "https://educaia.herokuapp.com/profil_psychos"
json_data = requests.get(api_scolarite).json()
print(json_data)

[{'id': 1, 'filiere': 'S', 'francais': 12.0, 'philosophie': 11.0, 'histoiregeo': 14.0, 'lv1': 13.5, 'lv2': 15.0, 'eps': 18.0, 'mathematique': 17.0, 'physiquechimie': 16.5, 'svt': 14.0, 'ses': None, 'spemath': None, 'spesvt': None, 'spephysique': 18.0, 'tpe': 20.0, 'lv3': None, 'user_id': 1, 'created_at': '2020-04-21T10:37:19.129Z', 'updated_at': '2020-04-21T10:37:19.129Z'}]

In [129]:
api_scolarite = "https://educaia.herokuapp.com/profil_psychos" #Importation depuis le https
json_data = requests.get(api_scolarite).json()  #Mise au format JSON


#filiere = json_data[0]['filiere']
print('filiere :', filiere)

filiere : S

In [130]:
# Load files
train_data = 'es_train.csv'  # training dataset
test_data = 'fillwithjson.csv'    #Données de destination



# Prepare input
test_df = pd.read_csv(test_data, sep=';', error_bad_lines=False)   #Importation test df
train_df = pd.read_csv(train_data, sep=';', error_bad_lines=False) #Importation train_df
train_df

,Unnamed: 0,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti,Orientation
0,0,ES,1e,9,14,14,20,9,2,16,...,14,0,0,0,14,0,0,0,ENTJ,RH
1,1,ES,1e,6,16,13,7,1,11,16,...,0,0,0,10,0,0,0,9,ESTP,Droit
2,2,ES,1e,9,14,12,7,19,17,8,...,0,0,0,7,0,0,0,0,ENFP,Culture
3,3,ES,1e,16,14,8,11,11,16,5,...,8,6,0,12,0,0,0,0,ISFP,Psychologie
4,4,ES,1e,10,3,14,7,9,8,8,...,12,0,0,0,9,0,16,0,ENFJ,RH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,ES,term,10,9,15,11,6,16,7,...,0,0,0,0,8,14,0,0,ESFJ,Enseignement
146,146,ES,term,15,7,8,11,17,13,18,...,0,7,0,0,9,0,0,0,ISTP,Web
147,147,ES,term,11,19,16,6,13,6,16,...,0,0,0,0,0,0,0,8,ENTP,Journalisme
148,148,ES,term,16,9,14,12,16,12,12,...,0,0,10,0,0,0,0,9,ENTJ,Enseignement
149,149,ES,term,2,14,14,12,16,14,16,...,0,0,0,0,0,0,8,11,ISFP,Psychologie

In [131]:
features = ["Francais", "Philosophie", "Histoire-geographie","Langues vivantes 1",
            "Langues vivantes 2","Education physique et sportive","Enseignement moral et civique",
            "Mathematiques","TPE","Science","Sciences economiques et sociales","Spe Mathematiques",
            "Sciences sociales et politiques","Economie approfondie","Option Informatique","Option Sport",
            "Option Arts","Option latin","Option grec","LV3","Profil_mbti"]

In [132]:
test_df["Filiere"][0]= json_data[0]['filiere']
test_df["Francais"][0]= json_data[0]['francais']
test_df["ID"][0]= json_data[0]['id']
test_df["Philosophie"][0]= json_data[0]['philosophie']
test_df["ID"][0]= json_data[0]['id']
test_df["Histoire-geographie"][0]= json_data[0]['histoiregeo']
test_df["Langues vivantes 1"][0]= json_data[0]['lv1']
test_df["Langues vivantes 2"][0]= json_data[0]['lv2']

test_df["Education physique et sportive"][0]= json_data[0]['eps']
#test_df["Enseignement moral et civique"][0]= json_data[0]['']
test_df["Mathematiques"][0]= json_data[0]['mathematique']
test_df["Science"][0]= json_data[0]['physiquechimie']
test_df["Sciences economiques et sociales"][0]= json_data[0]['ses']
test_df["Spe Mathematiques"][0]= json_data[0]['spemath']
test_df["TPE"][0]= json_data[0]['tpe']
test_df["LV3"][0]= json_data[0]['lv3']  #Passage du Json vers dataset

test_df

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,1,S,0,12,11,14,13,15,18,0,...,NaN,0,0,0,0,0,0,0,NaN,0

In [145]:
for el in test_df[features]:
    if(math.isnan(test_df[el][0])):
       test_df[el][0] = 0    #Suppression des parties NaN
test_df.to_csv('Try.csv', index=False)
test_df

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,1,S,0,12,11,14,13,15,18,0,...,0.0,0,0,0,0,0,0,0,0.0,0

In [134]:
for i in range(len(train_df)):
    if(train_df["Profil_mbti"][i] == "ISTJ"):
        train_df["Profil_mbti"][i] = 0
    if(train_df["Profil_mbti"][i] == "ISFJ"):
        train_df["Profil_mbti"][i] = 1
    if(train_df["Profil_mbti"][i] == "INFJ"):
        train_df["Profil_mbti"][i] = 2
    if(train_df["Profil_mbti"][i] == "INTJ"):
        train_df["Profil_mbti"][i] = 3
    if(train_df["Profil_mbti"][i] == "ISTP"):
        train_df["Profil_mbti"][i] = 4
    if(train_df["Profil_mbti"][i] == "ISFP"):
        train_df["Profil_mbti"][i] = 5
    if(train_df["Profil_mbti"][i] == "INFP"):
        train_df["Profil_mbti"][i] = 6
    if(train_df["Profil_mbti"][i] == "INTP"):
        train_df["Profil_mbti"][i] = 7
    if(train_df["Profil_mbti"][i] == "ESTP"):
        train_df["Profil_mbti"][i] = 8
    if(train_df["Profil_mbti"][i] == "ESFP"):
        train_df["Profil_mbti"][i] = 9
    if(train_df["Profil_mbti"][i] == "ENFP"):
        train_df["Profil_mbti"][i] = 10
    if(train_df["Profil_mbti"][i] == "ENTP"):
        train_df["Profil_mbti"][i] = 11
    if(train_df["Profil_mbti"][i] == "ESTJ"):
        train_df["Profil_mbti"][i] = 12
    if(train_df["Profil_mbti"][i] == "ESFJ"):
        train_df["Profil_mbti"][i] = 13
    if(train_df["Profil_mbti"][i] == "ENFJ"):
        train_df["Profil_mbti"][i] = 14
    if(train_df["Profil_mbti"][i] == "ENTJ"):
        train_df["Profil_mbti"][i] = 15  #Numérisation de chaque profil(Sinon, crash)
train_df

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti,Orientation
0,0,ES,1e,9,14,14,20,9,2,16,...,14,0,0,0,14,0,0,0,15,RH
1,1,ES,1e,6,16,13,7,1,11,16,...,0,0,0,10,0,0,0,9,8,Droit
2,2,ES,1e,9,14,12,7,19,17,8,...,0,0,0,7,0,0,0,0,10,Culture
3,3,ES,1e,16,14,8,11,11,16,5,...,8,6,0,12,0,0,0,0,5,Psychologie
4,4,ES,1e,10,3,14,7,9,8,8,...,12,0,0,0,9,0,16,0,14,RH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,ES,term,10,9,15,11,6,16,7,...,0,0,0,0,8,14,0,0,13,Enseignement
146,146,ES,term,15,7,8,11,17,13,18,...,0,7,0,0,9,0,0,0,4,Web
147,147,ES,term,11,19,16,6,13,6,16,...,0,0,0,0,0,0,0,8,11,Journalisme
148,148,ES,term,16,9,14,12,16,12,12,...,0,0,10,0,0,0,0,9,15,Enseignement
149,149,ES,term,2,14,14,12,16,14,16,...,0,0,0,0,0,0,8,11,5,Psychologie

In [135]:
for i in range(len(test_df)):
    if(test_df["Profil_mbti"][i] == "ISTJ"):
        test_df["Profil_mbti"][i] = 0
    if(test_df["Profil_mbti"][i] == "ISFJ"):
        test_df["Profil_mbti"][i] = 1
    if(test_df["Profil_mbti"][i] == "INFJ"):
        test_df["Profil_mbti"][i] = 2
    if(test_df["Profil_mbti"][i] == "INTJ"):
        test_df["Profil_mbti"][i] = 3
    if(test_df["Profil_mbti"][i] == "ISTP"):
        test_df["Profil_mbti"][i] = 4
    if(test_df["Profil_mbti"][i] == "ISFP"):
        test_df["Profil_mbti"][i] = 5
    if(test_df["Profil_mbti"][i] == "INFP"):
        test_df["Profil_mbti"][i] = 6
    if(test_df["Profil_mbti"][i] == "INTP"):
        test_df["Profil_mbti"][i] = 7
    if(test_df["Profil_mbti"][i] == "ESTP"):
        test_df["Profil_mbti"][i] = 8
    if(test_df["Profil_mbti"][i] == "ESFP"):
        test_df["Profil_mbti"][i] = 9
    if(test_df["Profil_mbti"][i] == "ENFP"):
        test_df["Profil_mbti"][i] = 10
    if(test_df["Profil_mbti"][i] == "ENTP"):
        test_df["Profil_mbti"][i] = 11
    if(test_df["Profil_mbti"][i] == "ESTJ"):
        test_df["Profil_mbti"][i] = 12
    if(test_df["Profil_mbti"][i] == "ESFJ"):
        test_df["Profil_mbti"][i] = 13
    if(test_df["Profil_mbti"][i] == "ENFJ"):
        test_df["Profil_mbti"][i] = 14
    if(test_df["Profil_mbti"][i] == "ENTJ"):
        test_df["Profil_mbti"][i] = 15
test_df

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,1,S,0,12,11,14,13,15,18,0,...,0.0,0,0,0,0,0,0,0,0.0,0

In [136]:
for i in range(len(train_df)):
    if(train_df["Orientation"][i] == "Administratif"):
        train_df["Orientation"][i] = 0
    if(train_df["Orientation"][i] == "Web"):
        train_df["Orientation"][i] = 1
    if(train_df["Orientation"][i] == "Culture"):
        train_df["Orientation"][i] = 2
    if(train_df["Orientation"][i] == "Economie"):
        train_df["Orientation"][i] = 3
    if(train_df["Orientation"][i] == "Sante"):
        train_df["Orientation"][i] = 4
    if(train_df["Orientation"][i] == "Enseignement"):
        train_df["Orientation"][i] = 5
    if(train_df["Orientation"][i] == "Finance"):
        train_df["Orientation"][i] = 6
    if(train_df["Orientation"][i] == "Droit"):
        train_df["Orientation"][i] = 7
    if(train_df["Orientation"][i] == "RH"):
        train_df["Orientation"][i] = 8
    if(train_df["Orientation"][i] == "Journalisme"):
        train_df["Orientation"][i] = 9
    if(train_df["Orientation"][i] == "Psychologie"):
        train_df["Orientation"][i] = 10
    if(train_df["Orientation"][i] == "Communication"):
        train_df["Orientation"][i] = 11
train_df

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti,Orientation
0,0,ES,1e,9,14,14,20,9,2,16,...,14,0,0,0,14,0,0,0,15,8
1,1,ES,1e,6,16,13,7,1,11,16,...,0,0,0,10,0,0,0,9,8,7
2,2,ES,1e,9,14,12,7,19,17,8,...,0,0,0,7,0,0,0,0,10,2
3,3,ES,1e,16,14,8,11,11,16,5,...,8,6,0,12,0,0,0,0,5,10
4,4,ES,1e,10,3,14,7,9,8,8,...,12,0,0,0,9,0,16,0,14,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,ES,term,10,9,15,11,6,16,7,...,0,0,0,0,8,14,0,0,13,5
146,146,ES,term,15,7,8,11,17,13,18,...,0,7,0,0,9,0,0,0,4,1
147,147,ES,term,11,19,16,6,13,6,16,...,0,0,0,0,0,0,0,8,11,9
148,148,ES,term,16,9,14,12,16,12,12,...,0,0,10,0,0,0,0,9,15,5
149,149,ES,term,2,14,14,12,16,14,16,...,0,0,0,0,0,0,8,11,5,10

In [137]:
y = train_df.Orientation

features = ["Francais", "Philosophie", "Histoire-geographie","Langues vivantes 1",
            "Langues vivantes 2","Education physique et sportive","Enseignement moral et civique",
            "Mathematiques","TPE","Science","Sciences economiques et sociales","Spe Mathematiques",
            "Sciences sociales et politiques","Economie approfondie","Option Informatique","Option Sport",
            "Option Arts","Option latin","Option grec","LV3","Profil_mbti"]


X = train_df[features]

# Divide train_data into train & testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Train
model = DecisionTreeRegressor(random_state=1)
model.fit(X_train, y_train)

# Test
val_predictions = model.predict(X_test)
val_mae = mean_absolute_error(val_predictions, y_test)
print(f"MAE: {val_mae:.0f}")

MAE: 3

In [138]:


test_X = test_df[features]

model = DecisionTreeRegressor(random_state=1)   #Choix du modèle
model.fit(X, y)

test_preds = model.predict(test_X)  #Prédiction selon le modèle d'entrainement
res =test_preds
res

array([5.])

In [139]:
usingdf = pd.read_csv("try.csv", sep=',', error_bad_lines=False)
usingdf

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Spe Mathematiques,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti
0,1,S,0,12,11,14,13,15,18,0,...,0.0,0,0,0,0,0,0,0,0.0,0

In [140]:
usingdf["Resultat"] = res  #Implémentation du résultat
usingdf

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti,Resultat
0,1,S,0,12,11,14,13,15,18,0,...,0,0,0,0,0,0,0,0.0,0,5.0

In [141]:
for i in range(len(usingdf)):
    if(usingdf["Resultat"][i] == 0):
        usingdf["Resultat"][i] = "Administratif"
    if(usingdf["Resultat"][i] == 1):
        usingdf["Resultat"][i] = "Web"
    if(usingdf["Resultat"][i] == 2):
        usingdf["Resultat"][i] = "Culture"
    if(usingdf["Resultat"][i] == 3):
        usingdf["Resultat"][i] = "Economie"
    if(usingdf["Resultat"][i] == 4):
        usingdf["Resultat"][i] = "Sante"
    if(usingdf["Resultat"][i] == 5):
        usingdf["Resultat"][i] = "Enseignement"
    if(usingdf["Resultat"][i] == 6):
        usingdf["Resultat"][i] = "Finance"
    if(usingdf["Resultat"][i] == 7):
        usingdf["Resultat"][i] = "Droit"
    if(usingdf["Resultat"][i] == 8):
        usingdf["Resultat"][i] = "RH"
    if(usingdf["Resultat"][i] == 9):
        usingdf["Resultat"][i] = "Journalisme"
    if(usingdf["Resultat"][i] == 10):
        usingdf["Resultat"][i] = "Psychologie"
    if(usingdf["Resultat"][i] == 11):
        usingdf["Resultat"][i] = "Communication" #Repassage à un format nominatif

usingdf

C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Julien Maalouf\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,ID,Filiere,Annee,Francais,Philosophie,Histoire-geographie,Langues vivantes 1,Langues vivantes 2,Education physique et sportive,Enseignement moral et civique,...,Sciences sociales et politiques,Economie approfondie,Option Informatique,Option Sport,Option Arts,Option latin,Option grec,LV3,Profil_mbti,Resultat
0,1,S,0,12,11,14,13,15,18,0,...,0,0,0,0,0,0,0,0.0,0,Enseignement

In [148]:
usingdf.to_csv('Rep.csv', index=False)
usingdf.to_excel("Rep.xlsx")  #Exportation en CSV/Excel
print(usingdf["Resultat"][0]) #Affichage de résultat en direct

Enseignement

In [143]:
#from urllib import request, parse
#import json
#import requests as rq

In [144]:
#r = rq.post("http://httpbin.org/post", json={"login": "toto"})
#print(r.text)

{
  "args": {},
  "data": "{\"login\": \"toto\"}",
  "files": {},
  "form": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Content-Length": "17",
    "Content-Type": "application/json",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.22.0",
    "X-Amzn-Trace-Id": "Root=1-5ea15b07-6b4a47d0e0333740679ec3d0"
  },
  "json": {
    "login": "toto"
  },
  "origin": "82.124.30.46",
  "url": "http://httpbin.org/post"
}